@import url('https://fonts.googleapis.com/css?family=Nosifer|Oswald|Lobster|Monoton|Modak|Gloria Hallelujah|Courgette');
body {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: black;
}

.header {
	background-image: url('https://images.unsplash.com/photo-1469234496837-d0101f54be3e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0470412405288dcf3a26cd3a325a82f8&w=1000&q=80');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10% 0;
	opacity: 0.9;
	z-index: 1030;
	text-shadow: 1px 2px 3px blue;
	font-weight: 400;
	font-size: 18px;
	transition: ease-in-out 5s;
	color: whitesmoke;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h3 {
	background-color: black;
	color: whitesmoke;
}

.a1 {
	display: contents;
}

.a2 {
	display: inline-block;
}

.intro h4 {
	font-family: 'Oswald', cursive;
	color: whitesmoke;
	background-color: black;
	text-align: center;
	font-size: 29px;
	font-weight: bold;
}

.intro {
	text-align: center;
	color: whitesmoke;
	background-color: cadetblue;
	font-variant-position: super;
	font-family: 'Courgette', monospace;
	font-variant-caps: all-small-caps;
	font-size: 22px;
}

.reservations {
	background-image: url(' https://images.unsplash.com/photo-1511344465185-e92113a4f96d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=520b6119ba561b2403b044cd5fcb7099&w=1000&q=80');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 7% 0;
	opacity: 0.8;
}

.reservations h2 {
	font-size: 29px;
	color: black;
	font-family: 'Oswald', fantasy;
}

.menu-group {
	font-variant-caps: all-small-caps;
	font-size: 16px;
	color: black;
}

.card-body {
	background: -webkit-gradient(linear, left top, left bottom, from(#A7BFE8), to(#6190E8));
	background: linear-gradient(to bottom, #A7BFE8, #6190E8);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	-ms-flex-line-pack: center;
	align-content: center;
}

.card-body p {
	font-family: 'Oswals', sans-serif;
	color: whitesmoke;
	font-stretch: expanded;
}

.menu-group h4 {
	font-size: 29px;
	color: whitesmoke;
	background-color: black;
	font-family: 'Oswald', fantasy;
}

.test h1 {
	color: whitesmoke;
	background-color: black;
	font-size: 32px;
	font-variant-caps: all-petite-caps;
}

.Testimonials {
	padding: 3% 0;
	background-color: whitesmoke;
	color: black;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1em;
}

@media (min-width: 576px) {
	.footer {
		padding: 3% 0;
		background: linear-gradient(to bottom, #A7BFE8, #6190E8);
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1em;
		align-items: stretch;
		justify-items: stretch;
		justify-content: space-between;
		grid-auto-rows: minmax(100px, auto);
		border-top-color: black;
		font-variant-caps: all-small-caps;
		font-size: 16px;
		color: black;
	}
}

.footer:hover {
	color: whitesmoke;
}
